<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">

  <!-- Google Analytics -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-169230611-1', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
    
  <title></title>
  <meta name="description" content="Details, Features & Buy page for Babyfic Tent house for Kids. The best gift for your kid to improve creativity & imagination.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="icon" href=".../img/babyfic-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href=".../css/normalize.css">
  <link rel="stylesheet" href="css/landing-page.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>

  <div id="intro">
    Give your child a unique creative space.
  </div>

  <div>
    <img src="babyfic-logo.jpeg" alt="Babyfic logo">
  </div>
  <!-- Add your site or application content here -->
  
  <script src=".../js/vendor/modernizr-3.11.2.min.js"></script>
  <script src=".../js/plugins.js"></script>
  <script src="js/landing-page.js"></script>
  
</body>

</html>
